  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    {{> website}}
</body>

<template name="website">
    <nav>
        <div class="nav-wrapper green">
            <a href="#" class="brand-logo">Global Warming</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">What is Global Warming</a></li>
                <li><a href="#how" class="active">How it Works</a></li>
                <li><a href="#help" class="active">How to Help</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <div class="parallax-container">
            <div class="parallax"><img src="gwpic.jpg"></div>
        </div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <div class="card green lighten-2">
                    <div class="card-content white-text">
                        <span id="what" class="card-title">What Is Global Warming?</span>
                        <p>Global Warming is a gradual increase in the overall temperature of the earth's atmosphere generally attributed to the greenhouse effect caused by increased levels of carbon dioxide, chlorofluorocarbons, and other pollutants.</p>
                    </div>
                </div>
            </div>
            <div class="col s3"></div>
        </div>
        <div id="how" class="section scrollspy parallax-container">
            <div class="parallax"><img src="gwhow.png"></div>
        </div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <div class="card green lighten-2">
                    <div class="center-align card-content white-text">
                        <span class="card-title">How it Works</span>
                        <p> Earth absorbs most of the sunlight it receives. Earth then emits the absorbed light’s energy as infrared light. greenhouse gases absorb a lot of the infrared light before it can leave our atmosphere. being absorbed slows the rate at which energy escapes to space, and the slower passage of energy heats up the atmosphere, water, and ground. By increasing the amount of greenhouse gases in the atmosphere, humans are increasing the atmosphere’s absorption of infrared light, thereby warming Earth and disrupting global climate patterns. </p>
                    </div>
                </div>
            </div>
            <div class="col s3"></div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="gwhelp.jpg"></div>
        </div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <div class="card green lighten-2">
                    <div class="card-content white-text">
                        <span id="help" class="card-title section scrollspy">How to Help</span>
                        <p>In order to effectively address global warming, we must significantly reduce the amount of heat-trapping emissions we are putting into the atmosphere. The good news is that we have the technology and practical solutions at hand to accomplish it. As individuals, we can help by taking action to reduce our personal carbon emissions. But to fully address the threat of global warming, we must demand action from our elected leaders to support and implement a comprehensive set of climate solutions:
                            <br/> - Expand the use of renewable energy and transform our energy system to one that is cleaner and less dependent on coal and other fossil fuels.
                            <br/> - Increase vehicle fuel efficiency and support other solutions that reduce U.S. oil use.
                            <br/> - Place limits on the amount of carbon that polluters are allowed to emit.
                            <br/> - Build a clean energy economy by investing in efficient energy technologies, industries, and approaches.
                            <br/> - Reduce tropical deforestation and its associated global warming emissions.</p>
                    </div>
                </div>
            </div>
            <div class="col s3"></div>
        </div>
    </div>
</template>